<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>자차보단 공유차, SHARINGCAR</title>
</head>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  window.onload = function () {
    document.getElementById("find_address").addEventListener("click", function () {
      new daum.Postcode({
        oncomplete: function (data) {
          document.getElementById("user_address").value = data.address;
        }
      }).open();
    });
  }
</script>
<body>
<form method="post">
	<div>
		<input type="email" name="email" placeholder="이메일" required/>
	</div>
	<div>
		<input type="password" name="password" placeholder="비밀번호" required/>
	</div>
	<div>
		<input type="password" name="repassword" placeholder="비밀번호 확인" required/>
	</div>
	<div>
		<input type="text" name="name" placeholder="이름" required/>
	</div>
	<div>
		<input type="text" name="birth" placeholder="1990-01-09" required/>
	</div>
	<div>
		<input type="tel" name="phone" placeholder="010-1234-5678" required/>
	</div>
	<div>
		<input type="text" name="license" placeholder="00-00-000000-00" required/>
	</div>
	<div>
		<input type="text" id="user_address" name="address" size="30" placeholder="주소" required/>
	</div>
	<div>
		<input type="text" name="detail" size="30" placeholder="상세주소" required/>
	</div>
	<div>
		<button type="button" id="find_address">주소찾기</button>
		<button type="submit">확인</button>
	</div>
</form>
</body>
</html>